section.email
  .wrapper.wrapper_email
    .email__coupon <span class="email__coupon_text">GET THE <span class="email__coupon_dollar">$</span><span class="email__coupon_ten">10</span> COUPON</span>
    .email__text Sign in to our newsletter and receive a ten dollars coupon
    form.email__form
      input.email__input(type="email" placeholder="Enter here your email adress")
      button.email__button(type="submit")