section.slider
  .single-item
    .slider_one
      .wrapper
        .title_slider embrace
        .subtitle_slider to the new season
        .description_slider Very short one or two describing sentences.
        .subdescription_slider portable. beauty. personal.
        a.link.slider_button(href="") SEE DETAILS
    .slider_two
      .wrapper
        .title_slider embrace 1
        .subtitle_slider to the new season 1
        .description_slider Very short one or two describing sentences.
        .subdescription_slider portable. beauty. personal.
        a.link.slider_button(href="") SEE DETAILS
    .slider_three
      .wrapper
        .title_slider embrace 2
        .subtitle_slider to the new season 2
        .description_slider Very short one or two describing sentences.
        .subdescription_slider portable. beauty. personal.
        a.link.slider_button(href="") SEE DETAILS