.slider
  background pale
  border-bottom solid 4px yellow

.slider_two
  background url(https://avatars.yandex.net/get-500px/3b6e780c40794a1abe655b6160aa4355/orig/)
  background-size cover

.slider_three
  background url(https://avatars.yandex.net/get-500px/f6e189e35fca4a4fadd348e7bc730a09/orig/)
  background-size cover

.slider_button
  background yellow
  border-radius 47px
  color white
  display inline-block
  font-family font_family
  font-size 13px
  font-weight 700
  margin 20px 0 100px 40px
  padding 16px 40px
  transition background 300ms ease

.slider_button:hover
  background brown
  text-decoration none

.slick-dots
  bottom 25px

.slick-dotted.slick-slider
  margin-bottom 0