.products-list
  padding 50px 0

.products-list_right
  display flex
  justify-content flex-end

.products-list__table
  border-collapse collapse
  border-spacing 0

.products-list__item
  border-bottom solid 1px border-color
  padding 10px 0

.products-list__title
  color product-title
  font-family font_family
  font-size 18px
  font-weight 700
  padding 0 0 5px 0

.products-list__product-image
  height 120px
  padding 15px 15px 15px 0
  width 120px

.products-list__product-title
  color product-title
  font-family font_family
  font-size 16px
  font-weight 700
  margin 5px 0

.products-list__product-description,
.products-list__product-code
  color product-text
  font-family font_family
  font-size 13px
  font-weight 400

.products-list__product-code
  margin-top 30px

.products-list__code_number
  color brown

.products-list__product-price,
.products-list__product-price_total
  color brown
  font-family font_family
  font-size 24px
  font-weight 700

.products-list_delete_item
  color product-text
  display block
  font-family font_family
  font-size 13px
  height 20px
  line-height 20px
  text-align center
  width 20px

.products-list_delete_item:hover
  background pale
  border-radius 50%
  text-decoration none

.products-list__button
  border-radius 35px
  color white
  display inline-block
  font-family font_family
  font-size 13px
  font-weight 700
  margin 20px 0 0 10px
  padding 10px 30px

.products-list__button_continue
  background yellow

.products-list__button_continue-shopping
  background pale
  color brown

.ui-spinner-input
  border-radius 26px
  color brown
  font-family font_family
  font-size 13px
  font-weight 700
  text-align center
  width 38px