.email__coupon
  background yellow
  border-radius 50%
  box-shadow 2.5px 4.3px 9px rgba(1, 1, 1, 0.14)
  color white
  font-family font_family
  font-size 16px
  font-weight 400
  left 0
  line-height 1
  height 154px
  position absolute
  text-align center
  top -48px
  width 154px