section.products-grid
  .wrapper.wrapper_products-grid
    .products-grid__sidebar
      ul.list.list_products-grid
        li.list__item_products-grid.list__item_products-grid_before
          a.link.link_products-grid(href="") Day cream
          ul.list.list__sublist_products-grid
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Day cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Night cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Serum
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Eye Cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Make-up removal
        li.list__item_products-grid.list__item_products-grid_before 
          a.link.link_products-grid(href="") Night cream
          ul.list.list__sublist_products-grid
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Day cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Night cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Serum
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Eye Cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Make-up removal
        li.list__item_products-grid.list__item_products-grid_before 
          a.link.link_products-grid(href="") Serum
          ul.list.list__sublist_products-grid
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Day cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Night cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Serum
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Eye Cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Make-up removal
        li.list__item_products-grid.list__item_products-grid_before 
          a.link.link_products-grid(href="") Eye Cream
          ul.list.list__sublist_products-grid
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Day cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Night cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Serum
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Eye Cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Make-up removal
        li.list__item_products-grid.list__item_products-grid_before 
          a.link.link_products-grid(href="") Make-up removal
          ul.list.list__sublist_products-grid
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Day cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Night cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Serum
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Eye Cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Make-up removal
        li.list__item_products-grid.list__item_products-grid_before 
          a.link.link_products-grid(href="") Skin toning
          ul.list.list__sublist_products-grid
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Day cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Night cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Serum
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Eye Cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Make-up removal
        li.list__item_products-grid.list__item_products-grid_before 
          a.link.link_products-grid(href="") Peeling
          ul.list.list__sublist_products-grid
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Day cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Night cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Serum
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Eye Cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Make-up removal
        li.list__item_products-grid.list__item_products-grid_before 
          a.link.link_products-grid(href="") Care paragraph
          ul.list.list__sublist_products-grid
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Day cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Night cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Serum
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Eye Cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Make-up removal
        li.list__item_products-grid.list__item_products-grid_before 
          a.link.link_products-grid(href="") Sets
          ul.list.list__sublist_products-grid
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Day cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Night cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Serum
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Eye Cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Make-up removal
        li.list__item_products-grid.list__item_products-grid_before 
          a.link.link_products-grid(href="") Bestsellers
          ul.list.list__sublist_products-grid
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Day cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Night cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Serum
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Eye Cream
            li.list__item_products-grid_sublist
              a.link.link_menu(href="") Make-up removal
      ul.list.list_products-grid
        a.link.link_products-grid.list_products-grid_title(href="") Sort by
        ul.list.list__sublist_products-grid
          li.list__item_products-grid_simple
            a.link.link_menu(href="") Popular
          li.list__item_products-grid_simple
            a.link.link_menu(href="") Lowest price
          li.list__item_products-grid_simple
            a.link.link_menu(href="") Largest price
          li.list__item_products-grid_simple
            a.link.link_menu(href="") A - Z
          li.list__item_products-grid_simple
            a.link.link_menu(href="") Z - A
      ul.list.list_products-grid
        a.link.link_products-grid.list_products-grid_title(href="") Capacity
        ul.list.list__sublist_products-grid
          li.list__item_products-grid_simple
            a.link.link_menu(href="") 30 ml
          li.list__item_products-grid_simple
            a.link.link_menu(href="") 40 ml
          li.list__item_products-grid_simple
            a.link.link_menu(href="") 60 ml
          li.list__item_products-grid_simple
            a.link.link_menu(href="") 150 ml
          li.list__item_products-grid_simple
            a.link.link_menu(href="") 200 ml
      ul.list.list_products-grid
        a.link.link_products-grid.list_products-grid_title(href="") Price from - to
        #slider-range
        .products-grid_wrap
          div
            span.currency.products-grid__cost $
            input(class="products-grid__cost" type="text" id="minCost")
          div
            span.currency.products-grid__cost $
            input(class="products-grid__cost" type="text" id="maxCost")
    .products-grid__content.products-grid__content_grid
      .products-grid__banner
        .products-grid__banner-title FACE
        .products-grid__banner-description Nulla tellus arcu, fermentum et interdum eu...
      .product.product__label.product__label_best
        a.link.product__image(href="")
          img(src="img/product.jpg" width="205" height="205")
        a.link.product__title(href="") PRODUCT 1
        .product__description Yellow Diamond <br> Toilet Water Spray
        .product__price
          span.currency $
          span.value 270.00
      .product.product__label.product__label_new.product__label-2.product__label-2_best
        a.link.product__image(href="") 
          img(src="img/product.jpg" width="205" height="205")
        a.link.product__title(href="") PRODUCT 2
        .product__description Soft Clean Silky <br> Hydrating Lotion
        .product__price
          span.currency $
          span.value 112.00
      .product.product__label.product__label_hot
        a.link.product__image(href="") 
          img(src="img/product.jpg" width="205" height="205")
        a.link.product__title(href="") PRODUCT 3
        .product__description Brit for Women
        .product__price
          span.currency $
          span.value 120.00
      .product
        a.link.product__image(href="") 
          img(src="img/product.jpg" width="205" height="205")
        a.link.product__title(href="") PRODUCT 1
        .product__description Yellow Diamond <br> Toilet Water Spray
        .product__price
          span.currency $
          span.value 270.00
      .product
        a.link.product__image(href="") 
          img(src="img/product.jpg" width="205" height="205")
        a.link.product__title(href="") PRODUCT 2
        .product__description Soft Clean Silky <br> Hydrating Lotion
        .product__price
          span.currency $
          span.value 112.00
      .product
        a.link.product__image(href="") 
          img(src="img/product.jpg" width="205" height="205")
        a.link.product__title(href="") PRODUCT 3
        .product__description Brit for Women
        .product__price
          span.currency $
          span.value 120.00
      .product
        a.link.product__image(href="") 
          img(src="img/product.jpg" width="205" height="205")
        a.link.product__title(href="") PRODUCT 1
        .product__description Yellow Diamond <br> Toilet Water Spray
        .product__price
          span.currency $
          span.value 270.00
      .product
        a.link.product__image(href="") 
          img(src="img/product.jpg" width="205" height="205")
        a.link.product__title(href="") PRODUCT 2
        .product__description Soft Clean Silky <br> Hydrating Lotion
        .product__price
          span.currency $
          span.value 112.00
      .product
        a.link.product__image(href="") 
          img(src="img/product.jpg" width="205" height="205")
        a.link.product__title(href="") PRODUCT 3
        .product__description Brit for Women
        .product__price
          span.currency $
          span.value 120.00
  .products_wrap
    a.link.link_products-load(href="") LOAD MORE HOT PRODUCTS