.products-grid
  padding-top 30px

.products-grid__sidebar
  border-right solid 1px product-sep
  width 235px

.products-grid__content
  display flex
  flex-flow row wrap
  justify-content center

.products-grid__content .product:nth-child(4n)
  border-right solid 1px product-sep
.products-grid__content .product:nth-child(3n+1)
  border-right 0

.products-grid__banner
  background url("../img/products-grid__banner-bg.jpg")
  height 150px
  margin-left 15px
  margin-bottom 15px
  width 721px

.products-grid__banner-title
  color brown
  display inline-block
  font-family font_family
  font-size 48px
  font-weight 38px
  margin 50px 40px

.products-grid__banner-description
  color brown
  display inline-block
  font-family font_family
  font-size 18px
  font-weight 300
  width 230px
