.trigger
  position relative

.trigger::after,
.trigger:after
  content ""
  border-left 3px solid transparent
  border-right 3px solid transparent
  border-top 3px solid header-text
  font-size 0
  height 0
  right -9px
  line-height 0
  position absolute
  top 6px
  width 0