.footer
  border-bottom solid 1px footer-hr

.footer_wrap
  width 198px

.address
  color footer-text
  font-family font_family
  font-size 13px
  font-style normal
  font-weight 400

.social
  display flex
  flex-flow row nowrap
  margin-top 15px

.social__item
  margin-right 5px

.fb
  sprite($sprite_icon-fb)
.tw
  sprite($sprite_icon-tw)
.hz
  sprite($sprite_icon-hz)
.rss
  sprite($sprite_icon-rss)

.copyright
  color footer-text
  font-family font_family
  font-size 12px
  font-weight 400
  width 230px

.copyright_bold
  font-weight 700
