footer.footer
  .wrapper.wrap_footer
    div.footer_wrap
      .title_footer INFORMATIONS
      ul.list.menu_footer
        li.menu__item_footer
          a.link.link_menu(href="") Our Blog
        li.menu__item_footer
          a.link.link_menu(href="") About Our Shop
        li.menu__item_footer
          a.link.link_menu(href="") Secure Shopping
        li.menu__item_footer
          a.link.link_menu(href="") Privacy Policy
        li.menu__item_footer
          a.link.link_menu(href="") Delivery Informations
    div.footer_wrap
      .title_footer CUSTOMER CARE
      ul.list.menu_footer 
        li.menu__item_footer
          a.link.link_menu(href="") Contact Us
        li.menu__item_footer
          a.link.link_menu(href="") Site Map
        li.menu__item_footer
          a.link.link_menu(href="") Top Sales & Bestsellers
        li.menu__item_footer
          a.link.link_menu(href="") Gift Vouchers
        li.menu__item_footer
          a.link.link_menu(href="") Best Sellers
    div.footer_wrap
      .title_footer YOUR ACCOUNT
      ul.list.menu_footer
        li.menu__item_footer
          a.link.link_menu(href="") Order Status
        li.menu__item_footer
          a.link.link_menu(href="") My Wishlist
        li.menu__item_footer
          a.link.link_menu(href="") Edit Delivery Adress
        li.menu__item_footer
          a.link.link_menu(href="") Order History
        li.menu__item_footer
          a.link.link_menu(href="") Newsletter
    div.footer_wrap
      .title_footer BE IN TOUCH
      address.address
        | Cosmetico Shop <br>
        | Good Town 122, Beaty Centre <br><br>
        | (011) 212 222 22
      ul.list.social
        li.social__item
          a.link.link_social.fb(href="")
        li.social__item
          a.link.link_social.tw(href="")
        li.social__item
          a.link.link_social.hz(href="")
        li.social__item
          a.link.link_social.rss(href="")
div
  .wrapper.wrapper_footer
    .copyright <span class="copyright copyright_bold">© COSMETICO 2013.</span> All rights reserved. Designed by Michal Kowalski - <span class="copyright copyright_bold">bcube.pl</span>
    ul.list.menu
      li.breadcrumb_footer
        a.link.link_menu(href="") Privacy Policy
      li.breadcrumb_footer
        a.link.link_menu(href="") Terms & Conditions
      li
        a.link.link_menu(href="") Sitemap
