.email__button
  sprite($sprite_icon-email)
  cursor pointer
  background white
  border solid 2px email_border-color
  border-radius 45px
  padding 20px 50px 19px
  position absolute
  right 0
  z-index 1