.email__button
  background white
  border solid 2px email_border-color
  border-radius 45px
  cursor pointer
  min-height 45px
  padding 20px 50px 19px
  position absolute
  right 0
  z-index 1

.email__button::after,
.email__button:after
  sprite($sprite_icon_email)
  content ""
  margin-left ($sprite_icon_email_width/2)
  position absolute
  top 13px