.description_slider
  color brown
  font-family font_family
  font-size 24px
  font-weight 400
  margin 30px 0 20px 40px

.subdescription_slider
  color yellow
  font-family font_family
  font-size 21px
  font-weight 400
  margin 20px 0 20px 40px
  text-shadow 0 1px 0 white
