.link
  text-decoration none

.link:hover
  text-decoration underline

.link_menu
  color header-text
  font-family font_family
  font-size 13px
  font-weight 400

.link_social
  background social-icon
  border-radius 50%
  display block
  height 43px
  width 43px

.link_social:hover
  background yellow