.link
  text-decoration none

.link:hover
  text-decoration underline

.link_menu
  color header-text
  font-family font_family
  font-size 13px
  font-weight 400

.link_category
  color menu-text
  font-family font_family
  font-size 14px
  font-weight 700
  margin-right 40px

.link_category:hover
  color yellow
  text-decoration none

.link_category-active
  position relative

.link_category-active:hover
  color menu-text

.link_category-active::after,
.link_category-active:after
  background white
  border-radius 50%
  bottom -25px
  // box-shadow 0 4px 0 pale
  content ""
  height 16px
  left 50%
  margin-left -8px
  position absolute
  width 16px
  z-index 1

.link_products
  color product
  font-family font_family
  font-size 23px
  font-weight 700

.link_products:hover
  color yellow
  text-decoration none

.link_products-active
  color product-active

.link_products-active:hover
  color product-active

.link_products-active::after,
.link_products-active:after
  background white
  border-radius 50%
  bottom -16px
  box-shadow 0 4px 0 product-hr
  content ""
  height 16px
  left 50%
  margin-left -8px
  position absolute
  width 16px
  z-index 1

.link_products-load
  border solid 1px border-color
  border-radius 56px
  color product-load
  display inline-block
  font-family font_family
  font-size 16px
  font-weight 700
  margin 0 auto
  padding 18px 70px 17px 70px
  position relative

.link_products-load:hover
  text-decoration none

.link_products-load::before,
.link_products-load:before
  background border-color
  content ""
  height 1px
  left -361px
  position absolute
  top 50%
  width 100%

.link_products-load::after,
.link_products-load:after
  background border-color
  content ""
  height 1px
  right -361px
  position absolute
  top 50%
  width 100%

.link_social
  background social-icon
  border-radius 50%
  display block
  height 43px
  width 43px

.link_social:hover
  background yellow