.menu
  display flex
  flex-flow row nowrap

.menu__item
  position relative

.menu__item_footer
  padding-left 10px
  position relative
  margin 5px 0

.menu__item_footer::before,
.menu__item_footer:before
  sprite($sprite_list-footer-arrow)
  content ""
  position absolute
  left 0
