/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$sprite_icon_email_name = 'sprite_icon_email';
$sprite_icon_email_x = 18px;
$sprite_icon_email_y = 24px;
$sprite_icon_email_offset_x = -18px;
$sprite_icon_email_offset_y = -24px;
$sprite_icon_email_width = 15px;
$sprite_icon_email_height = 16px;
$sprite_icon_email_total_width = 68px;
$sprite_icon_email_total_height = 60px;
$sprite_icon_email_image = '../img/sprite.png';
$sprite_icon_email = 18px 24px -18px -24px 15px 16px 68px 60px '../img/sprite.png' 'sprite_icon_email';
$sprite_icon_fb_name = 'sprite_icon_fb';
$sprite_icon_fb_x = 0px;
$sprite_icon_fb_y = 42px;
$sprite_icon_fb_offset_x = 0px;
$sprite_icon_fb_offset_y = -42px;
$sprite_icon_fb_width = 9px;
$sprite_icon_fb_height = 18px;
$sprite_icon_fb_total_width = 68px;
$sprite_icon_fb_total_height = 60px;
$sprite_icon_fb_image = '../img/sprite.png';
$sprite_icon_fb = 0px 42px 0px -42px 9px 18px 68px 60px '../img/sprite.png' 'sprite_icon_fb';
$sprite_icon_hz_name = 'sprite_icon_hz';
$sprite_icon_hz_x = 32px;
$sprite_icon_hz_y = 0px;
$sprite_icon_hz_offset_x = -32px;
$sprite_icon_hz_offset_y = 0px;
$sprite_icon_hz_width = 20px;
$sprite_icon_hz_height = 18px;
$sprite_icon_hz_total_width = 68px;
$sprite_icon_hz_total_height = 60px;
$sprite_icon_hz_image = '../img/sprite.png';
$sprite_icon_hz = 32px 0px -32px 0px 20px 18px 68px 60px '../img/sprite.png' 'sprite_icon_hz';
$sprite_icon_rss_name = 'sprite_icon_rss';
$sprite_icon_rss_x = 0px;
$sprite_icon_rss_y = 24px;
$sprite_icon_rss_offset_x = 0px;
$sprite_icon_rss_offset_y = -24px;
$sprite_icon_rss_width = 18px;
$sprite_icon_rss_height = 18px;
$sprite_icon_rss_total_width = 68px;
$sprite_icon_rss_total_height = 60px;
$sprite_icon_rss_image = '../img/sprite.png';
$sprite_icon_rss = 0px 24px 0px -24px 18px 18px 68px 60px '../img/sprite.png' 'sprite_icon_rss';
$sprite_icon_tw_name = 'sprite_icon_tw';
$sprite_icon_tw_x = 52px;
$sprite_icon_tw_y = 19px;
$sprite_icon_tw_offset_x = -52px;
$sprite_icon_tw_offset_y = -19px;
$sprite_icon_tw_width = 14px;
$sprite_icon_tw_height = 18px;
$sprite_icon_tw_total_width = 68px;
$sprite_icon_tw_total_height = 60px;
$sprite_icon_tw_image = '../img/sprite.png';
$sprite_icon_tw = 52px 19px -52px -19px 14px 18px 68px 60px '../img/sprite.png' 'sprite_icon_tw';
$sprite_list_footer_arrow_name = 'sprite_list_footer_arrow';
$sprite_list_footer_arrow_x = 33px;
$sprite_list_footer_arrow_y = 24px;
$sprite_list_footer_arrow_offset_x = -33px;
$sprite_list_footer_arrow_offset_y = -24px;
$sprite_list_footer_arrow_width = 6px;
$sprite_list_footer_arrow_height = 8px;
$sprite_list_footer_arrow_total_width = 68px;
$sprite_list_footer_arrow_total_height = 60px;
$sprite_list_footer_arrow_image = '../img/sprite.png';
$sprite_list_footer_arrow = 33px 24px -33px -24px 6px 8px 68px 60px '../img/sprite.png' 'sprite_list_footer_arrow';
$sprite_icon_chart_name = 'sprite_icon_chart';
$sprite_icon_chart_x = 0px;
$sprite_icon_chart_y = 0px;
$sprite_icon_chart_offset_x = 0px;
$sprite_icon_chart_offset_y = 0px;
$sprite_icon_chart_width = 32px;
$sprite_icon_chart_height = 24px;
$sprite_icon_chart_total_width = 68px;
$sprite_icon_chart_total_height = 60px;
$sprite_icon_chart_image = '../img/sprite.png';
$sprite_icon_chart = 0px 0px 0px 0px 32px 24px 68px 60px '../img/sprite.png' 'sprite_icon_chart';
$sprite_icon_search_name = 'sprite_icon_search';
$sprite_icon_search_x = 52px;
$sprite_icon_search_y = 0px;
$sprite_icon_search_offset_x = -52px;
$sprite_icon_search_offset_y = 0px;
$sprite_icon_search_width = 16px;
$sprite_icon_search_height = 19px;
$sprite_icon_search_total_width = 68px;
$sprite_icon_search_total_height = 60px;
$sprite_icon_search_image = '../img/sprite.png';
$sprite_icon_search = 52px 0px -52px 0px 16px 19px 68px 60px '../img/sprite.png' 'sprite_icon_search';
$spritesheet_width = 68px;
$spritesheet_height = 60px;
$spritesheet_image = '../img/sprite.png';
$spritesheet_sprites = $sprite_icon_email $sprite_icon_fb $sprite_icon_hz $sprite_icon_rss $sprite_icon_tw $sprite_list_footer_arrow $sprite_icon_chart $sprite_icon_search;
$spritesheet = 68px 60px '../img/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}
