.title_slider
  color brown
  font-family font_family
  font-size 100px
  font-weight 500
  margin 80px 0 0 40px

.subtitle_slider
  color brown
  font-family font_family
  font-size 43px
  font-weight 200
  margin-left 40px

.title_footer
  color footer-title
  border-bottom solid 1px footer-hr
  font-family font_family
  font-size 16px
  font-weight 700
  padding-bottom 5px
  margin-bottom 20px
