// Colors
// ______

// Common colors

black = #000
brown = #70543f
border-color = #d4d4d4
pale = #f3f4ef
yellow = #fb0
white = #fff

// Sections colors

email_border-color = #e1e4da
email_input-color = #717171

footer-title = #3f3f3f
footer-text = #7b7b7b
social-icon = #e5e7e4
footer-hr = #d6d6d6
footer-sep = #e0e0e0

header-text = #727272
header-sep = #d5d5d5
header-hr = #e1e4d9

menu-text = #4b4b4b
menu-shadow = rgba(230, 232, 224, 0.75)
menu_input-color = #a8a8a8

product = #8d8d8d
product-active = #3e3e3e
product-hr = #e3e8e4
product-title = #353535
product-text = #6e6e6e
product-sep = #e9e9e9
product-load = #70726a



// Font
// ____

font_family = 'Raleway', Arial, sans-serif