.wrapper
  margin 0 auto
  width 970px

.wrapper_header,
.wrapper_category,
.wrapper_email,
.wrapper_footer
  align-items center
  display flex
  flex-flow row nowrap
  justify-content space-between

.wrapper_products-grid
  display flex
  flex-flow row nowrap
  justify-content space-between

.wrapper_email
  align-items center
  display flex
  flex-flow row nowrap
  justify-content flex-end
  position relative

.wrapper_footer
  padding 20px 0
