section.products
  .wrapper
    #tabs
      ul.list.menu.menu_products
        li.menu__item.menu__item_products
          a.link.link_products(href="#tabs-1") Hot products
        li.menu__item.menu__item_products
          a.link.link_products(href="#tabs-2") New products
        li.menu__item.menu__item_products
          a.link.link_products(href="#tabs-3") Best sellers
      #tabs-1
        .products_wrap
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 1
            .product__description Yellow Diamond <br> Toilet Water Spray
            .product__price 
              span.currency $
              span.value 270.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 2
            .product__description Soft Clean Silky <br> Hydrating Lotion
            .product__price 
              span.currency $
              span.value 112.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 3
            .product__description Brit for Women
            .product__price 
              span.currency $
              span.value 120.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 4
            .product__description Yellow Diamond <br> Toilet Water Spray
            .product__price 
              span.currency $
              span.value 20.00
        .products_wrap
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 5
            .product__description Yellow Diamond <br> Toilet Water Spray
            .product__price 
              span.currency $
              span.value 270.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 6
            .product__description Soft Clean Silky <br> Hydrating Lotion
            .product__price 
              span.currency $
              span.value 112.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 7
            .product__description Brit for Women
            .product__price 
              span.currency $
              span.value 120.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 8
            .product__description Yellow Diamond <br> Toilet Water Spray
            .product__price 
              span.currency $
              span.value 20.00
        a.link.link_products-load(href="") LOAD MORE HOT PRODUCTS
      #tabs-2
        .products_wrap
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 5
            .product__description Yellow Diamond <br> Toilet Water Spray
            .product__price 
              span.currency $
              span.value 270.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 6
            .product__description Soft Clean Silky <br> Hydrating Lotion
            .product__price 
              span.currency $
              span.value 112.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 7
            .product__description Brit for Women
            .product__price 
              span.currency $
              span.value 120.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 8
            .product__description Yellow Diamond <br> Toilet Water Spray
            .product__price 
              span.currency $
              span.value 20.00
      #tabs-3
        .products_wrap
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 1
            .product__description Yellow Diamond <br> Toilet Water Spray
            .product__price 
              span.currency $
              span.value 270.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 2
            .product__description Soft Clean Silky <br> Hydrating Lotion
            .product__price 
              span.currency $
              span.value 112.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 3
            .product__description Brit for Women
            .product__price 
              span.currency $
              span.value 120.00
          .product
            .product__image 
              img(src="../img/product.jpg" width="205" height="205")
            .product__title PRODUCT 4
            .product__description Yellow Diamond <br> Toilet Water Spray
            .product__price 
              span.currency $
              span.value 20.00