section.products
  .wrapper
    #tabs
      ul.list.menu.menu_products
        li.menu__item.menu__item_products
          a.link.link_products(href="#tabs-1") Hot products
        li.menu__item.menu__item_products
          a.link.link_products(href="#tabs-2") New products
        li.menu__item.menu__item_products
          a.link.link_products(href="#tabs-3") Best sellers
      .products_wrap#tabs-1
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 1
          .product__description Yellow Diamond <br> Toilet Water Spray
          .product__price 
            span.currency $
            span.value 270.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 2
          .product__description Soft Clean Silky <br> Hydrating Lotion
          .product__price 
            span.currency $
            span.value 112.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 3
          .product__description Brit for Women
          .product__price 
            span.currency $
            span.value 120.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 4
          .product__description Yellow Diamond <br> Toilet Water Spray
          .product__price 
            span.currency $
            span.value 20.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 5
          .product__description Yellow Diamond <br> Toilet Water Spray
          .product__price 
            span.currency $
            span.value 270.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 6
          .product__description Soft Clean Silky <br> Hydrating Lotion
          .product__price 
            span.currency $
            span.value 112.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 7
          .product__description Brit for Women
          .product__price 
            span.currency $
            span.value 120.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 8
          .product__description Yellow Diamond <br> Toilet Water Spray
          .product__price 
            span.currency $
            span.value 20.00
      .products_wrap#tabs-2
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 5
          .product__description Yellow Diamond <br> Toilet Water Spray
          .product__price 
            span.currency $
            span.value 270.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 6
          .product__description Soft Clean Silky <br> Hydrating Lotion
          .product__price 
            span.currency $
            span.value 112.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 7
          .product__description Brit for Women
          .product__price 
            span.currency $
            span.value 120.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 8
          .product__description Yellow Diamond <br> Toilet Water Spray
          .product__price 
            span.currency $
            span.value 20.00
      .products_wrap#tabs-3
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 1
          .product__description Yellow Diamond <br> Toilet Water Spray
          .product__price 
            span.currency $
            span.value 270.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 2
          .product__description Soft Clean Silky <br> Hydrating Lotion
          .product__price 
            span.currency $
            span.value 112.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 3
          .product__description Brit for Women
          .product__price 
            span.currency $
            span.value 120.00
        .product
          a.link.product__image(href="")
            img(src="../img/product.jpg" width="205" height="205")
          a.link.product__title(href="") PRODUCT 4
          .product__description Yellow Diamond <br> Toilet Water Spray
          .product__price 
            span.currency $
            span.value 20.00
      .products_wrap
        a.link.link_products-load(href="") LOAD MORE HOT PRODUCTS