.header__input
  position relative

.header__input::after,
.header__input:after
  sprite($sprite_icon_search)
  content ""
  left ($sprite_icon_hz_width/2)
  position absolute
  top ($sprite_icon_hz_height)

.header__input_search
  background white
  border solid 1px border-color
  border-radius 36px
  color email_input-color
  font-family font_family
  font-size 13px
  font-weight 400
  margin 10px 0
  padding 10px 26px 9px 40px
  position relative
  width 215px

.header__input_search:focus
  border solid 1px yellow
