<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=Edge")
  title Cosmetico
  link(rel="stylesheet", href="css/main.css")
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:200,400,500,700,800')
body.page
  include blocks/header/header.pug
  include blocks/email/email.pug
  include blocks/footer/footer.pug
  script(src="js/main.js")