@import "blocks/common/var.styl"
@import "blocks/common/sprite.styl"

@import "blocks/common/page.styl"
// wrapper for section
@import "blocks/common/wrapper.styl"
// wrap for elements in section
@import "blocks/common/wrap.styl"
@import "blocks/common/link.styl"
@import "blocks/common/list.styl"
@import "blocks/common/breadcrumb.styl"
@import "blocks/common/menu.styl"
@import "blocks/common/title.styl"
@import "blocks/common/description.styl"

@import "blocks/header/header.styl"
@import "blocks/slider/slider.styl"
@import "blocks/products/products.styl"
@import "blocks/email/email.styl"
@import "blocks/footer/footer.styl"