@import "blocks/common/var.styl"
@import "blocks/common/sprite.styl"

@import "blocks/common/page.styl"
@import "blocks/common/list.styl"
@import "blocks/common/breadcrumb.styl"
@import "blocks/common/title.styl"
@import "blocks/common/description.styl"

// wrapper for section
@import "blocks/common/wrapper.styl"
// wrap for elements in section
@import "blocks/common/wrap.styl"

// Link style
@import "blocks/common/link/link.styl"
@import "blocks/common/link/_category/category.styl"
@import "blocks/common/link/_menu/menu.styl"
@import "blocks/common/link/_products/products.styl"
@import "blocks/common/link/_social/social.styl"

// Menu style
@import "blocks/common/menu/menu.styl"
@import "blocks/common/menu/_products/products.styl"
@import "blocks/common/menu/__item/item.styl"
@import "blocks/common/menu/__item/_footer/footer.styl"
@import "blocks/common/menu/__item/_products/products.styl"

// Logo
@import "blocks/common/logo/logo.styl"
@import "blocks/common/logo/__img/img.styl"
@import "blocks/common/logo/__text/text.styl"
@import "blocks/common/logo/__text/_c/c.styl"
@import "blocks/common/logo/__text/_o/o.styl"

// Trigger
@import "blocks/common/trigger/trigger.styl"
@import "blocks/common/trigger/_list/list.styl"

// Shop-cart
@import "blocks/common/shop-cart/shop-cart.styl"
@import "blocks/common/shop-cart/__icon/icon.styl"
@import "blocks/common/shop-cart/__total/total.styl"

// Section style
@import "blocks/header/header.styl"
@import "blocks/header/__input/input.styl"

@import "blocks/slider/slider.styl"
@import "blocks/products/products.styl"

@import "blocks/email/email.styl"
@import "blocks/email/__button/button.styl"
@import "blocks/email/__coupon/coupon.styl"
@import "blocks/email/__coupon/_dollar/dollar.styl"
@import "blocks/email/__coupon/_ten/ten.styl"
@import "blocks/email/__coupon/_text/text.styl"
@import "blocks/email/__form/form.styl"
@import "blocks/email/__input/input.styl"
@import "blocks/email/__text/text.styl"

@import "blocks/footer/footer.styl"