<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=Edge")
  title Cosmetico | Products Grid
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:200,400,500,700,800')
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css")
  link(rel="stylesheet", href="css/main.css")
body.page
  include blocks/header/header.pug
  include blocks/submenu/submenu.pug
  include blocks/products-grid/products-grid.pug
  include blocks/email/email.pug
  include blocks/footer/footer.pug
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js")
  script.
    $(document).ready(function () {
      $('.link_products-grid').click(function (event) {
        $(this).next('.list__sublist_products-grid').slideToggle();
        event.stopPropagation();
        event.preventDefault();
      });
    });
  script.
    $(document).ready(function(){
      $('.trigger').click(function(){
        $('.trigger_list').toggle();
      });
    });
  script.
    $( function() {
      $( "#slider-range" ).slider({
        range: true,
        min: 100,
        max: 1000,
        values: [ 100, 700 ],
        stop: function(event, ui) {
          $("input#minCost").val($("#slider-range").slider("values",0));
          $("input#maxCost").val($("#slider-range").slider("values",1));
        },
        slide: function(event, ui){
          $("input#minCost").val($("#slider-range").slider("values",0));
          $("input#maxCost").val($("#slider-range").slider("values",1));
        }
      });
      $("input#minCost").val($("#slider-range").slider("values",0)); 
      $("input#maxCost").val($("#slider-range").slider("values",1)); 
    });
  script.
    $(document).ready(function(){
      $('select#currency').change(function () {
        $('.currency').text($('select#currency').val());
      });
    });
