.header
  background white
  border-bottom solid 1px header-hr

.trigger
  position relative

.trigger::after,
.trigger:after
  content ""
  border-left 3px solid transparent
  border-right 3px solid transparent
  border-top 3px solid header-text
  font-size 0
  height 0
  right -9px
  line-height 0
  position absolute
  top 6px
  width 0

.trigger_list
  align-items flex-end
  display flex
  flex-flow column nowrap
  position absolute
  top 18px
  right 0

.trigger_list
  display none

.logo
  align-items center
  display flex
  flex-flow row nowrap

.logo__img
  height 74px
  margin 15px
  width 74px

.logo__text
  color black
  font-family font_family
  font-size 31px
  font-weight 700

.logo__text_c
  font-weight 400

.logo__text_o
  font-weight 300

.account
  align-items center
  display flex
  flex-flow row nowrap

.shop-cart
  margin-left 20px

.shop-cart__icon
  sprite($sprite_icon-chart)

.shop-cart__total
  color brown
  font-family font_family
  font-size 20px
  font-weight 700

.category
  box-shadow 0 4px 0 pale

.header__input
  sprite($sprite_icon-search)
  color email_input-color
  background white
  border solid 1px border-color
  border-radius 36px
  font-family font_family
  font-size 13px
  font-weight 400
  margin 10px 0
  padding 10px 26px 9px 40px
  width 215px
