header.header
  .wrapper.wrapper_header
    ul.list.menu
      li.breadcrumb_header
        a.link.link_menu(href="") Check out
      li.breadcrumb_header
        a.link.link_menu(href="") Log in
      li.breadcrumb_header
        a.link.link_menu(href="") Register
      li
        a.link.link_menu(href="") Contact
    .logo
      img.logo__img(src="../img/logo.png")
      .logo__text Cosmeti<span class="logo__text_c">c</span><span class="logo__text_o">o</span>
    div.account
      ul.list.menu
        li.breadcrumb_header
          a.link.link_menu(href="") My wishlist ( <span class="wishlist-cointer">0</span> )
        li.menu__item
          form.form_currency
            select.trigger(name="currency" id="currency")
              option(value="$") USD
              option(value="€") EUR
              option(value="£") GBR
      .shop-cart
        .shop-cart__icon
        .shop-cart__total <span class="currency">$</span><span class="total-cointer">0.00</span>
.category
  .wrapper.wrapper_category
    ul.list.menu
      li
        a.link.link_category.link_category-active(href="") FACE
      li
        a.link.link_category(href="") BODY
      li
        a.link.link_category(href="") MAKE UP
      li
        a.link.link_category(href="") HAIRS
      li
        a.link.link_category(href="") PERFUMES
      li
        a.link.link_category(href="") GIFTS
      li
        a.link.link_category(href="") BRANDS
      li
        a.link.link_category(href="") MUST HAVE
    .header__input
      input.header__input_search(type="search" placeholder="Type and hit enter")